<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1020705752263-rauo1ndn9gv391pv9hiqla2lmke73k2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020705752263-rauo1ndn9gv391pv9hiqla2lmke73k2q</string>
	<key>API_KEY</key>
	<string>AIzaSyC7oSeRs_CbhaR-WDFYkc2XEZiEibdTf0I</string>
	<key>GCM_SENDER_ID</key>
	<string>1020705752263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.razz.iWork</string>
	<key>PROJECT_ID</key>
	<string>iwork-f346a</string>
	<key>STORAGE_BUCKET</key>
	<string>iwork-f346a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020705752263:ios:d24dd04f5a235dad</string>
	<key>DATABASE_URL</key>
	<string>https://iwork-f346a.firebaseio.com</string>
</dict>
</plist>